
.portafolio{
  height: 600px;
}

.columnCien{
  width: 80%;
  margin: 0 10%;
}

.column4{
  width: 29%;
  margin: 20px;
  float: left;
  height: 200px;
}

.column4 img{
  width: 100%;
}

.boletin{
  width: 80%;
  margin: 0 7%;
  background-color: #fbfbfb;
  position: relative;
  z-index: 1;
  margin-top: -50px;
  padding: 10px;
  padding-bottom: 30px;
  
}

img{

  filter: grayscale(1);
}

.img-cua:hover img{
  filter: grayscale(0);
}

.fecha{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title{
  text-align: center;
  margin: 15px;
}

.descripcion{
  margin-bottom: 20px;
}

.ver-mas{
  margin: 0 30%;
}

.ver-mas a{
  background-color: #3593f8;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 27px;
  color: #fff;
}

.ver-mas a:hover{
  border: none;
  border: 1.9px solid #202020;
  font-weight: bold;
  background-color: transparent;
  color: #202020;
}



/*RESPONSIVO 1024*/
/* @media screen and (max-width: 1024px) {
  
  .columnCien{
    width: 90%;
    margin: 0 5%;
    margin-bottom: 50%;
  }
  
  .column4{
    width: 30%;
    margin: 15px;
  }
  
  .column4 img{
    width: 100%;
  }
  
  .title{
    font-size: 22px;
  }
  
  }
   */
  
  /*RESPONSIVO 800*/
  /* @media screen and (max-width: 800px){
      
  .columnCien{
    width: 100%;
    margin-bottom: 60%;
  }
  
  .column4{
    width: 30%;
    margin: 10px;
  }
  
  .column4 img{
    width: 100%;
  }
  
  .title{
    font-size: 22px;
  }
  
  } */



/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  .portafolio{
    height: 500px;
  }
  

.column4{
  width: 27%;
  margin: 20px;
  float: left;
  height: 200px;
  
}

.fecha{
  font-size: 10px;
}
.title{
  font-size: 17px;
  margin: 0px;
  padding: 2px;
}
.descripcion{
  font-size: 14px;
  text-align: center;
}

.ver-mas{
  margin: 0 35%;
}
.ver-mas a{
  border-radius: 10px;
  padding: 5px 17px;
}

.ver-mas a:hover{
  border: none;
  border: 1.9px solid #202020;
  font-weight: bold;
  background-color: transparent;
  color: #202020;
}

.boletin{
  padding: 5px;
  padding-bottom: 20px;
  
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

  .portafolio{
    height: 500px;
  }
  
.columnCien{
  width: 100%;
  margin: 12px;
}

.column4{
  width: 27%;
  margin: 20px;
  float: left;
  height: 200px;
  
}

.fecha{
  font-size: 12px;
}
.title{
  font-size: 20px;
  margin: 5px;
}
.descripcion{
  font-size: 15px;
}

.ver-mas{
  margin: 0 30%;
}
.ver-mas a{
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
}


}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  
  .portafolio{
    height: 350px;
  }

  .columnCien{
    width: 100%;
    margin: 10px;
  }

  .column4{
    width: 27%;
    margin: 15px;
  }
  
  .fecha{
    font-size: 8px;
  }

  .title{
    font-size: 14px;
  }
  .descripcion{
    font-size: 11px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .ver-mas{
    margin: 0 30%;
  }
  .ver-mas a{
    font-size: 12px;
    padding: 5px 15px;
  }
  
  .boletin{
    padding: 5px;
    padding-bottom: 10px;
    
  }
}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){
  
  .portafolio{
    height: 1180px;
  }
  .titulo h2{
    margin-top: 50px;
  }

.columnCien{
  width: 80%;
  margin: 0 10%;
}

.column4{
  width: 80%;
  margin: 0 10%;
  float: none;
  margin-bottom: 180px;
}

.fecha{
  font-size: 15px;
}
.title{
  font-size: 20px;
}

.descripcion{
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

.ver-mas{
  margin: 0 35%;
}

.ver-mas a{
  font-size: 15px;
  padding: 8px 20px;
}

.ver-mas a:hover{
  border: none;
  border: 1.9px solid #202020;
  font-weight: bold;
  background-color: transparent;
  color: #202020;
}

.boletin{
  padding-bottom: 25px;
}

h2{
  margin-top: 30px;
}

}

