
<div class="portafolio">
  <div class="titulo">
    <h2>04 : Portafolio</h2>
  </div>
  
  <div class="columnCien">
    <div class="column4 "> 
      <div class="img-cua">
        <img src="../../../assets/img/pagina-reposteria.jpg" alt="">
      </div>
      <div class="boletin">
        <p class="fecha">25/06/2022</p>
        <h2 class="title">Página Web de Reposteria</h2>
        <p class="descripcion">Pagina web sobre una empresa que hace postres, tortas y algunas comidas de Santa Cruz, que es Fridolin. </p>
        <div class="ver-mas">
          <a href="https://pagina-alba.netlify.app/inicio" >Ver</a>
        </div>
      </div>
    </div>

      <div class="column4 "> 
        <div class="img-cua">
          <img src="../../../assets/img/portafolio-fotografia.jpg" alt="imagen del portafolio-fotografia">
        </div>
        <div class="boletin">
          <p class="fecha">15/11/2021</p>
          <h2 class="title">Portafolio de Fotografía</h2>
          <p class="descripcion">Donde se encuentran fotos que se tomaron en la materia de Fotografía, de la carrera de Diseño Gráfico.</p>
          <div class="ver-mas">
            <a href="https://drive.google.com/file/d/19IVhSASBNz5bGZ_sV0I8k5wlZ_tTwZ2u/view?usp=sharing" >Ver</a>
          </div>
        </div>
      </div>
  
  
        <div class="column4 "> 
          <div class="img-cua">
            <img src="../../../assets/img/boletin.jpg" alt="">
          </div>
          <div class="boletin">
            <p class="fecha">10/08/2021</p>
            <h2 class="title">Boletín de obras artísticas</h2>
            <p class="descripcion">Este boletín es un maquetado que mostrará obras artisticas de distintos artistas. </p>
            <div class="ver-mas">
              <a href="https://drive.google.com/file/d/1W0pcuwt6nwWQEqhImhWL6tQrOePOC72k/view?usp=sharing" >Ver</a>
            </div>
          </div>
        </div>
    
  </div>
</div>


<app-footer></app-footer>