


footer{
  /* position: absolute; */
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #848383;
  width: 100%;

  padding-top: 30px;
  padding-bottom: 30px;
}

.contacto{
  width: 75%;
  text-align: center;
  margin: 0 13%;
  margin-bottom:30px;
}

.con {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

.contacto .con span{
  font-weight: bold;
  color: #848383;
}

.barra{
  width: 18%;
  margin: 0 41%;
}


/* Escritorio grande */
@media only screen and (min-width: 768px) and (max-width: 1199px){

  .con {
    font-size: 14px;
  }
  
  .barra{
    width: 25%;
    font-size: 12px;
    margin: 0 38%;
  }
  

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  .con {
    font-size: 14px;
  }
  
  .barra{
    width: 35%;
    font-size: 13px;
    margin: 0 32%;
  }
  

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){

  .con {
    font-size: 12px;
  }

  footer{
    width: 100%;
  }
  
  .barra{
    width: 100%;
    font-size: 13px;
    margin: 0 25%;
  }
}

