<footer>
  <div class="contacto">
    <div class="con">
      <span>Correo:</span>
      albamlr2467@gmail.com
    </div>
    <div class="con">
      <span>Celular:</span>
      65060885
    </div>
    <div class="con">
      <span>Direccion</span>
      Av. Chiquicollo y Linde #5
    </div>
  </div>

  <div class="barra">
    &copy; Alba María | Leon Roque {{ anio }}
  </div>
</footer>



<!-- 
<div class="footer">This will always appear at the bottom of the page, but <strong>not fixed</strong>.</div> -->