*{
  top: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
}


.principal{
  width: 80%;
  text-align: center;
  margin: 0 10%;
  position: absolute;
  margin-top: 28px;
}

 a{
  font-size: 15px;
  text-decoration: none;
  color: #848383;
  transition: all .1s linear;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Roboto Mono', monospace;
  padding: 20px;
}

.borderR{
  border-right: 2px solid #848383;
}

a:hover{
  font-weight: bold;
}

.active {
  font-weight: bolder;
  font-size: 16px;
}


/*HAMB*/
.hamb{
  display: none;
}
/* 
.navbar{
  cursor: pointer;
} */

/* Escritorio extra grande */
@media only screen and (min-width: 1200px) and (max-width: 1390px){
  a{
    font-size: 18px;
    padding: 15px;
  }
}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  a{
    font-size: 13px;
    padding: 15px;
  }

  .titulo h2{
    font-size: 25px;
    padding: 7px;
}
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  a{
    font-size: 11px;
    padding: 6px;
    letter-spacing: 0px;
  }

  .principal{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 28px;
    margin-left: 0px;
  }

}

/* Tablets y phablets */
@media only screen and (min-width: 601px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 600px){

  a{
    font-size: 10px;
    padding: 6px;
    color: #fff;
 } 
 
.borderR{
  border-right: none;
}

  .hamb {
    display: block;
    font-size: 20px;
    color: #3593f8;
    position: absolute;
    border: none;
    background-color: transparent;
    padding-top: 15px;
    position: fixed;
    z-index: 20;
    margin-left: 10px;
  }

  nav{
    transform: translate(100%);
    background-color: #00000089;


    /* transform: translateX(0) !important; */
  }

  .navbar{
    width: 100%;
    margin-left: 0px;
    position: fixed;
    z-index: 20;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

.invisible{
    transform: translate(100%);
  }
.visible{
    transform: translateX(0) !important;
  }
  
  .advertencia {
    background-color: orange;
 }
 
 .error {
   background-color: #ff00009f;
 }
 
  a:hover{
    font-weight: bold;
  }
  
  .active {
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
  } 
}





