

<div class="navbar principal">
    <div>
<nav class="navbar"  [ngClass]="{ 'alerta visible': propiedades.visible, ' invisible': !propiedades.visible }">
  <a [routerLink]="['index']" routerLinkActive = "active" class="borderR">01 : Inicio</a>
  <a [routerLink]="['curriculum']" routerLinkActive = "active" class="borderR">02 : Sobre mi</a>
  <a [routerLink]="['estudios']" routerLinkActive = "active" class="borderR">03 : Estudios</a>
  <a [routerLink]="['portafolio']" routerLinkActive = "active" class="borderR">04 : Portafolio</a>
  <a [routerLink]="['contacto']" routerLinkActive = "active">05 : Contáctame</a>

</nav>
    </div>
      

    
    <div class="hamburguesa">
      <button class="hamb" (click)="propiedades.visible = !propiedades.visible">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

</div>

<!-- 
<h3 [ngClass]="{ 'alerta error': propiedades.error, ' advertencia': !propiedades.error }">
  Como estas
</h3>

<button type="button" class="boton" (click)="propiedades.error = !propiedades.error" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error } ">Cambiar</button> -->
