<div class="titulo">
  <h2 class="title">03 : Educación</h2>
</div>

  <div id="educacion">
    <!-- <i class="fa-solid fa-lightbulb"></i> -->

    <div class="Cursos">
      <div class="curso">
        <i class="fa-solid fa-code"></i>
            <h3>Curso de desarrollo de aplicaciones web</h3>
            <h4 class="duracion">Marzo 2022 - Presente</h4>
            <ol>
              <li>HTMl y HTML 5</li>
              <li>CSS y CSS 3</li>
              <li>JavaScript y ECMAScript</li>
              <li>TypeScript</li>
              <li>Angular y Angular Material</li>
              
            </ol>
      </div>
      <div class="curso">     
            <i class="fa-solid fa-pen-nib"></i>
            <h3>Licenciatura en Diseño Gráfico y Comunicación Visual</h3>
            <h4 class="duracion">Enero 2019 - Presente</h4>
            <ol>
              <li>Diseño de Marca</li>
              <li>Composicion del color</li>
              <!-- <li>Illustrator, Photoshop, InDesign</li> -->
              <!-- <li>Diseño Editorial</li> -->
            </ol>
      </div>
      <div class="curso">
            <i class="fa-solid fa-desktop"></i>
            <h3>Técnico en Operador de Computadoras</h3>
            <h4 class="duracion">Febrero 2017 - Noviembre 2017</h4>
            <ol>
              <li>Word</li>
              <li>PowerPoint</li>
              <li>Excel</li>
              <!-- <li>Access</li> -->
            </ol>
      </div>
      <div class="curso">
            <i class="fa-solid fa-graduation-cap"></i>
            <h3>Título de Bachiller en Humanidades - Colegio Don BOsco "A"</h3>
            <h4 class="duracion">Febrero 2008 - noviembre 2018</h4>
            <ol>
              <li>Educación Primaria</li>
              <li>Educación Secundaria</li>
            </ol>
      </div>
    </div>

  </div>

<div class="pie">
  
  <app-footer></app-footer>
</div>