

#educacion{
  margin-top: 100px;
  margin-bottom: 35%;
  height: 100px;
}

.Cursos{
  width: 85%;
  margin: 0 10%;
}

.curso{
  width: 19%;
  margin: 10px;
  float: left;
  border: 4px solid #808080;
  box-shadow: 5px 5px rgb(205, 205, 205);
  height: 350px;
  padding: 15px;
}

i{
  color: #3593f8;
  font-size: 40px;
  margin: 0 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4{
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}

ol{
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

i:hover{
  font-size: 45px;
  color: #2d7bcf;
}

ol li:hover{
  font-weight: bolder;
}


/* Escritorio extra grande */
@media only screen and (min-width: 1200px)and (max-width: 1390px){

  .Cursos{
    width: 90%;
    margin: 0 5%;
  }
    .curso{
    width: 20%;
    margin: 12px;
    height: 350px;
    padding: 10px;
  }

i:hover{
  font-size: 45px;
  color: #2d7bcf;
}

ol li:hover{
  font-weight: bolder;
}

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  #educacion{
    margin-bottom: 60%;
    height: 0px;
  }
  
.Cursos{
  width: 90%;
  margin: 0 5%;
}

.curso{
  width: 20%;
  height: 420px;
  padding: 8px;
}


i:hover{
  font-size: 40px;
  color: #2d7bcf;
}

ol li:hover{
  font-weight: bolder;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

  #educacion{
    margin-bottom: 60%;
    height: 380px;
  }
  
.Cursos{
  width: 90%;
  margin: 0 5%;
}

.curso{
  width: 40%;
  margin-right: 35px;
  height: 350px;
  float: left;
  padding: 8px;
}

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  #educacion{
    margin-bottom: 60%;
    height: 480px;
    margin-top: 10px;
  }
  
.Cursos{
  width: 90%;
  margin: 0 5%;
}

.curso{
  width: 40%;
  margin-right: 18px;
  float: left;
  padding: 8px;
}

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){

  #educacion{
    width: 100%;
    margin-bottom: 60%;
    height: 1550px;
    margin-top: 10px;
  }

  h2{
    margin-top: 50px;
  }
  
.Cursos{
  width: 78%;
  margin: 0 5%;
}

.curso{
  width: 100%;
  margin-left: 25px;
  float: none;
  padding: 15px;
  height: 350px;
  margin-bottom: 45px;
}


}

