

.all{
  width: 70%;
  margin: 0 25%;
}

.column50{
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column-reverse;
}

.row{
  margin-bottom: 20px;
}

.col-5{
  margin-bottom: 7px;
}

.txtbox{
  border: 1px solid #000;
  width: 90%;
  padding: 10px;
}

.enviar button{
  padding: 10px;
  border: 1px solid #000;
  color: #000;
  margin-right: 10px;
}

/*Validaciones*/
.text-danger{
  margin-top: -80px;
  margin-bottom: 10px;
  
}

/*Redes*/
.redes{
  padding: 0px;
  margin-top: 30px;
}
.contact {
  margin-bottom: 50px;
}

i{
  font-size: 17px;
  color: #202020;
  margin-right: 10px;
}
.contact span{
  font-family: 'Roboto Mono', monospace;
}

.agradecimiento{
  margin-top: 5px;
  margin-bottom: 80px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #000;
  padding: 9px;
  font-size: 18px;
  text-align: center;
}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

.all{
  width: 80%;
  margin: 0 20%;
}
.column50{
  width: 40%;
}

.txtbox{
  padding: 12px;
  font-size: 14px;
}

.enviar button{
  font-size: 15px;
  padding: 10px 15px;
}

/*Validaciones*/
.text-danger{
  font-size: 12px;
}



/*Redes*/
.redes{
  padding: 5px;
}
.contact {
  margin-bottom: 70px;
}

i{
  margin-right: 7px;
}
.contact span{
  font-size: 15px;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  
  .txtbox{
    padding: 2px;
    font-size: 12px;
  }

  .contact span{
    font-size: 12px;
  }

  .all{
    width: 90%;
    margin: 0 12%;
  }
  .column50{
    width: 45%;
  }

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  
.all{
  width: 80%;
  margin: 0 20%;
}

.column50{
  width: 80%;
  float: none;
  display: flex;
  flex-direction: column;
}

/*Redes*/
.redes{
  text-align: center;
  padding: 0px;
  margin-top: 0px;
}
.contact {
  margin-bottom: 10px;
}

.agradecimiento{
  margin-bottom: 10px;
  font-size: 15px;
}

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){
  
  .all{
    width: 80%;
    margin: 0 20%;
  }

  h2{
    margin-top: 50px;
  }
  
  .column50{
    width: 80%;
    float: none;
    display: flex;
    flex-direction: column;
  }
  
  /*Redes*/
  .redes{
    text-align: center;
    padding: 0px;
    margin-top: 0px;
  }
  .contact {
    margin-bottom: 10px;
  }

  .contact span{
    font-size: 12px;
  }
  
  .agradecimiento{
    margin-bottom: 10px;
    font-size: 15px;
  }

  textarea{
    height: 50px;
  }
  
}
