<div class="nv"></div>
<div class="titulo">
  <h2>05: Contáctame</h2>
</div>

<div class="all">

  <div class="column50 formulario">
    <form [formGroup]="formulario" (ngSubmit)="guardar()">

      <div class="row">
        <div class="col-5">
          <label for="fname" class="lbl">Nombre</label>
        </div>
        <div class="columnder">
          <input 
          type="text"
          id="fname"
          placeholder="Nombre"
          class="txtbox"
          formControlName="nombre"
          [class.is-invalid]="nombreNoValido"
          >
          <br>
        <small class="text-danger" *ngIf="nombreNoValido">
          Ingrese más de 3 letras
        </small>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <label for="fcorreo" class="lbl">
            Correo Electronico
          </label>
        </div>
        <div>
          <input 
          type="text"
          id="fcorreo"
          placeholder="Correo ELectronico"
          class="txtbox"
          formControlName="correo" 
          [class.is-invalid]="correoNoValido"
          >
          <br>
          <small class="text-danger" *ngIf="correoNoValido">
            Ingrese un email válido
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <label for="fComentario" class="lbl">Comentario</label>
        </div>
        <div>
          <textarea 
          name="comentario"
          id="fComentario"
          cols="30"
          rows="10"
          class="txtbox"
          formControlName="comentario"
          [class.is-invalid]="comentarioNoValido"
          ></textarea>
          <br>
          <small class="text-danger" *ngIf="comentarioNoValido">
            Por favor escriba un mensaje
          </small>
        </div>
      </div>

      <div class="enviar">
        <button type="submit" class="btn" [disabled]="formulario.invalid">Enviar</button>
      </div>

      <div class="mensajeEnviado agradecimiento">
        {{ mensaje }}
      </div>
    </form>
  </div>
  <div class="column50 redes">
    <div class="contact phone">
      <i class="fa-solid fa-phone"></i>
      <span class="rt">65060885</span>
    </div>
    <div class="contact gmail">
      <i class="fa-solid fa-at"></i>
      <span>albamlr2467@gmail.com</span>
    </div>
    <div class="contact location">
      <i class="fa-solid fa-location-dot"></i>
      <span>Av. Chiquicollo y Linde #5</span>
    </div>

  </div>

</div>