<div class="container">


  <div class="imagen">
    <span class="compu"></span>
    <!-- <img src="../../../assets/img/compu.png" alt="computador" class="compu"> -->
  </div>
  
  <div class="columna2">

      <div class="titulo">
        <h2 class="title">
          02 : Sobre mi
        </h2>
      </div>

      <div class="datos">
        <div><span>Nombre:</span> Alba Maria</div>
        <div><span>Apellidos:</span> Leon Roque</div>
        <div><span>lugar de nacimiento:</span> Cochabamba</div>
        <div><span>Fecha de nacimiento:</span> 21-11-2000</div>
        <div><span>Edad:</span> 21 años</div>
      </div>

      <div class="column20">
        <img src="../../../assets/img/mi-foto.jpeg" alt="mifoto" class="mifoto">
      </div>

  </div>
</div>

<div class="container">  
  <div class="column80">
    <div class="text">
      <div>
        <br>
      </div>
        <h3>Alba Maria Leon Roque</h3>
      <!-- <h4>diseñadora y programadora</h4> -->
      <p>
        Soy una estudiante con los conocimientos necesarios para elaborar programas, de manera eficiente, con la capacidad de resolver los problemas que se le presentan. Con ganas de enfrentar nuevos retos que enriquezcan mi experiencia laboral, y asi poder adquirir mayores conocimientos sobre programacion, ya que es el área en la que me estoy capacitando 
      </p>
    </div>
  </div>
</div>


<div class="competencias">
  <div class="ttl">
    <h3>Competencias</h3>
  </div>
  <div class="wrap">
    <div class="fila1">
      <div class="progress-radial progress-90">
        <div class="overlay">90%</div>
        <div class="Com">Trabajo en equipo</div>
      </div>
      
      <div class="progress-radial progress-80">
        <div class="overlay">80%</div>
        <div class="Com">Programación</div>
      </div>
      
      <div class="progress-radial progress-90">
        <div class="overlay">90%</div>
        <div class="Com">Habilidades creativas</div>
      </div>
    </div>

    <div class="fila2">
      <div class="progress-radial progress-80">
        <div class="overlay">80%</div>
        <div class="Com">Diseño Web</div>
      </div>
          
      <div class="progress-radial progress-90">
        <div class="overlay">90%</div>
        <div class="Com">Atención al cliente</div>
      </div>

      
    </div>
  
    </div>
  
</div>


<!-- 

  <div class="comp">

    <div class="wrap">
      <div class="ttl">
        <h2>Competencias</h2>
      </div>
      <div class="fila1">
        <div class="progress-radial progress-90">
          <div class="overlay">90%</div>
          <div class="Com">Trabajo en equipo</div>
        </div>
        
        <div class="progress-radial progress-80">
          <div class="overlay">80%</div>
          <div class="Com">Programación</div>
        </div>
        
        <div class="progress-radial progress-90">
          <div class="overlay">90%</div>
          <div class="Com">Habilidades creativas</div>
        </div>
      </div>

      <div class="fila2">
        <div class="progress-radial progress-80">
          <div class="overlay">80%</div>
          <div class="Com">Diseño Web</div>
        </div>
            
        <div class="progress-radial progress-90">
          <div class="overlay">90%</div>
          <div class="Com">Atención al cliente</div>
        </div>

        
      </div>
    
      </div>
    
  </div>
</div> -->
