*{
  box-sizing: border-box;
}

.container{
  width: 100%;
}

.compu{
  margin-top: 90px;
  width: 50%;
  height: 750px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 0.019) 100%), url(../../../assets/img/compu.png);
  color: white;
  
  display: flex;
  flex-direction: column;
  float: left;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.columna2{
  width: 50%;
  float: right;
  margin-top: 90px;
  /* padding-top: 80px;
  padding-right: 90px;
  padding-left: 20px;
  height: 250px; */
}

.titulo{
  width: 40%;
  margin:0 30%;
}

h2{
  margin-bottom: 90px;
}

.datos{
  text-align: center;
  margin-bottom: 60px;
}

.datos div{
  margin: 7px;
}

.datos div span{
  font-size: 25px;
  margin-right: 5px;
  font-weight: bold;
  color: #000;

} 

.column20{
  width: 30%;
  margin: 0 35%;
}

.mifoto{
  width: 100%;
  border-radius: 50%;
}

.column80{
  width: 70%;
  margin: 0 15%;
  color: #000;
}


.text{
  padding: 10px;
  text-align: center;
}

.text h3{
  font-size: 30px;
  margin-top: 850px;
  padding: 15px;
}

.text p{
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}


/*Competencias*/
.competencias{
  display: flex;
  flex-direction: column;
}

.ttl{
  text-align: center;
  color: #3c3c3c;
  margin-left: -40px;
  margin-bottom: -40px;
  font-size: 30px;
  margin-top: 40px;
}

.progress-radial {
  float: left;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #9cc2eb;
  margin-right: 40px;
  margin-top: 80px;
}

.progress-radial .overlay {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 35px;
  text-align: center;
  line-height: 61px;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
}

.Com{
  margin: 10px;
  margin-top: 50px; 
  font-size: 15px;
  text-align: center;
}

.wrap{
  width: 40%;
  margin: 0 27.5%;
  margin-bottom: 10%;
}
.fila1{
  margin-left: 15%;
}

.fila2{
  margin-left: 25%;
}


/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #6487ac 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-5 {
  background-image: linear-gradient(90deg, #6487ac 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-10 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-15 {
  background-image: linear-gradient(90deg, #6487ac 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-20 {
  background-image: linear-gradient(90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-25 {
  background-image: linear-gradient(90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-30 {
  background-image: linear-gradient(90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-35 {
  background-image: linear-gradient(90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg,#9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-40 {
  background-image: linear-gradient(90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-45 {
  background-image: linear-gradient(90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
  background-image: linear-gradient(0deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-80 {
  background-image: linear-gradient(18deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-85 {
  background-image: linear-gradient(36deg, #8eb9e7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
  background-image: linear-gradient(54deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-95 {
  background-image: linear-gradient(72deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #9cc2eb 50%, #2f3439 50%, #2f3439);
}

.progress-100 {
  background-image: linear-gradient(90deg, #9cc2eb 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}



/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

/*Competencias*/
.ttl{
  margin-left: 20px;
}

.wrap{
  width: 60%;
  margin: 0 20%;
  margin-bottom: 10%;
}
.fila1{
  margin-left: 18%;
}

.fila2{
  margin-left: 30%;
}


}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  
.columna2{
  width: 50%;
  float: right;
  margin-top: 50px;

}
/*Competencias*/
.ttl{
  margin-left: 20px;
}

.wrap{
  width: 80%;
  margin: 0 14%;
  margin-bottom: 10%;
}
.fila1{
  margin-left: 18%;
}

.fila2{
  margin-left: 30%;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

  .columna2{
    width: 50%;
    float: right;
    margin-top: 50px;
  
  }
  /*Competencias*/
  .ttl{
    margin-left: 20px;
  }
  
  .wrap{
    width: 90%;
    margin: 0 5%;
    margin-bottom: 10%;
  }
  .fila1{
    margin-left: 18%;
  }
  
  .fila2{
    margin-left: 30%;
  }
  
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

.datos div span{
  font-size: 15px;
} 

  .columna2{
    width: 50%;
    float: right;
    margin-top: 90px;
  
  }

  .column20{
    width: 40%;
    margin: 0 30%;
  }
  
  /*Competencias*/
  .ttl{
    margin-left: 20px;
  }

  .progress-radial {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 80px;
  }
  
  .progress-radial .overlay {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 27px;
    margin-top: 27px;
    line-height: 45px;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
  }
  
  .Com{
    margin: 10px;
    margin-top: 30px; 
    font-size: 15px;
    text-align: center;
  }
  
  .wrap{
    width: 60%;
    margin: 0 25%;
    margin-bottom: 10%;
  }

}

/* Teléfonos */
@media only screen and (min-width: 300px) and (max-width: 570px){
  .fila1, .fila2{
    margin-left: 5%;
  }

  h2{
  color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  }
  
.container{
  width: 100%;
}

.compu{
  margin-top: 0px;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to top,rgb(0, 0, 0, 0.558) 0%, rgba(0, 0, 0, 0.536) 100%), url(../../../assets/img/compu.png);

}

.columna2{
  width: 100%;
  float: right;
  margin-top: 90px;
}

.titulo{
  width: 45%;
  margin:0 30%;
  margin-top: -400px;
}

h2{
  margin-bottom: 175px;
  font-size: 25px;
}

.datos{
  padding: 30px;
  background-color: #e5e5e5;
  margin-bottom: -25px;
}

.datos div{
  margin: 5px;
}

.mifoto{
  width: 100%;
  border-radius: 50%;
}

.column80{
  width: 90%;
  margin: 0 10%;
  color: #000;
}


.text h3{
  margin-top: 350px;
}

.wrap{
  width: 60%;
  margin: 0 30%;
  margin-bottom: 10%;
}
  
}
