

  <div class="titulo">
    <h2> Ver Cita </h2>
  </div>

  <div class="all">
    <form [formGroup]="form" >

      <div class="cita_info">
        <div class="nomape">
          <div class="col-5">
              <label for="fname" class="lbl"><h3 class="sub">Nombre:</h3></label>
              <div>
                <input 
                type="text"
                id="fname"
                class="txtbox"
                formControlName="nombre"
                readonly
                >
                <br>

              </div>
          </div>
    
          <div class="col-5">
            <label for="flast" class="lbl"><h3 class="sub">Apellido:</h3></label>
            <div>
              <input 
              type="text"
              id="flast"
              class="txtbox"
              formControlName="apellido"
              readonly
              >
              <br>

            </div>
          </div>
        </div>


        <div>
          <div class="col-5">
            <label for="fphone" class="lbl"><h3 class="sub">Telefono / Celular:</h3></label>
            <div>
              <input 
              type="number"
              id="fphone"
              class="txtbox"
              formControlName="telefono"
              readonly
              >
              <br>

            </div>
          </div>

          <div class="col-5">
            <label for="fcorreo" class="lbl"><h3 class="sub">Correo:</h3></label>
            <div>
              <input 
              type="text"
              id="fcorreo"
              class="txtbox"
              formControlName="correo"
              readonly
              >
              <br>

            </div>
          </div>
        </div>

        <div>
          <div class="col-5">
            <h3 class="sub">Descripción</h3>
            <div class="descripcion">
                <textarea 
                class="txtbox"
                name="descripcion"
                formControlName="comentario"
                id="des" 
                cols="40" rows="4"
                readonly
                ></textarea>
            </div>
          </div>
          <div class="col-5">
            <h3 class="question">Hora:</h3>
            <input 
              type="text" 
              class="txtbox"
              id="date"
              formControlName="hora"
              readonly
              >

                <!-- <div class="column50 am">
                  <DIV class="opc">
                    <input
                    type="radio"
                    id="ab"
                    value="8:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="ab" class="hour">8:00 am</label>
                  </DIV>
                  <DIV class="opc">
                    <input
                    type="radio"
                    id="A"
                    value="9:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="A">9:00 am</label>
                  </DIV>
                  <div class="opc">
                    <input
                    type="radio"
                    id="B"
                    value="10:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="B">10:00 am</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="C"
                    value="11:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="C">11:00 am</label>
                  </div>
                </div>
                <div class="column50 pm">
                  <div class="opc">
                    <input
                    type="radio"
                    id="D"
                    value="2:00 pm"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="D">2:00 pm</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="E"
                    value="3:00 pm"
                    name="hora"
                    formControlName="hora"
                    readonly
                    >
                    <label for="E">3:00 pm</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="F"
                    value="4:00 pm"
                    name="hora"
                    readonly
                    formControlName="hora"
                    >
                    <label for="F">4:00 pm</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="G"
                    value="5:00 pm"
                    name="hora"
                    formControlName="hora"
                    readonly
                    >
                    <label for="G">5:00 pm</label>
                </div>
            </div> -->

          </div>
        </div>

        <div>
          <div class="col-5">
            <h3 class="sub">Fecha:</h3>
            <!-- <label for="date"> Fecha:</label> -->
            
            <div class="fecha">
              <input 
              type="date" 
              class="txtbox"
              id="date"
              formControlName="fecha"
              readonly
              >
            </div>
          </div>
        </div>
        
                  <div>
                    <button (click)="Volver()">Volver</button>
                  </div>
        
      </div>


    </form>
  </div>
