
<div class="t">
  <div class="titulo">
    <h2 class="title">
      Agenda una cita
    </h2>
  </div>
</div>

<div>
  <p class="saludo">
    ¡Hola! Gracias por visitar mi Curriculum, por favor a continuación elige el horario que más te convenga y nos vemos pronto!
  </p>
</div>

<div class="form_wrap">

  <section class="cantact_info">
      <section class="info_title">
          <i class="fa-solid fa-handshake">
          </i>
          <h2>DATOS DE<br>LA REUNIÓN</h2>
      </section>
      <section class="info_items">
          <div><i class="fa fa-envelope"></i> albamlr@gmail.com</div>
          <div><i class="fa fa-mobile"></i> 65060885</div>
      </section>
  </section>

  <form [formGroup]="formulario" class="agendar-cita">
    <div >
      
      <!-- <h2>Envia un mensaje</h2> -->

      <div class="cita_info">
        <div class="nomape">
          <div class="col-5">
              <label for="fname" class="lbl"><h3 class="sub">Nombre:</h3></label>
              <div>
                <input 
                type="text"
                id="fname"
                class="txtbox"
                formControlName="nombre"
                [class.is-invalid]="nombreNoValido"
                >
                <br>
              <small class="text-danger" *ngIf="nombreNoValido">
                Ingrese más de 3 letras
              </small>
              </div>
          </div>
    
          <div class="col-5">
            <label for="flast" class="lbl"><h3 class="sub">Apellido:</h3></label>
            <div>
              <input 
              type="text"
              id="flast"
              class="txtbox"
              formControlName="apellido"
              [class.is-invalid]="apellidoNoValido"
              >
              <br>
              <small class="text-danger" *ngIf="apellidoNoValido">
                Ingrese más de 3 letras
              </small>
            </div>
          </div>
        </div>


        <div>
          <div class="col-5">
            <label for="fphone" class="lbl"><h3 class="sub">Teléfono / Celular:</h3></label>
            <div>
              <input 
              type="number"
              id="fphone"
              class="txtbox"
              formControlName="telefono"
              [class.is-invalid]="telefonoNoValido"
              >
              <br>
            <small class="text-danger" *ngIf="telefonoNoValido">
              Ingrese un número válido
            </small>
            </div>
          </div>

          <div class="col-5">
            <label for="fcorreo" class="lbl"><h3 class="sub">Correo:</h3></label>
            <div>
              <input 
              type="text"
              id="fcorreo"
              class="txtbox"
              formControlName="correo"
              [class.is-invalid]="correoNoValido"
              >
              <br>
            <small class="text-danger" *ngIf="correoNoValido">
              Ingrese más de 3 letras
            </small>
            </div>
          </div>
        </div>

        <div>
          <div class="col-5">
            <h3 class="sub">Descripción</h3>
            <div class="descripcion">
                <textarea 
                class="txtbox"
                name="descripcion"
                formControlName="comentario"
                id="des" 
                cols="40" rows="4"
                ></textarea>
            </div>
          </div>
          <div class="col-5">
            <h3 class="question">Hora:</h3>

                <div class="column50 am">
                  <DIV class="opc">
                    <input
                    type="radio"
                    id="ab"
                    value="8:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="ab" class="hour">8:00 am</label>
                  </DIV>
                  <DIV class="opc">
                    <input
                    type="radio"
                    id="A"
                    value="9:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="A">9:00 am</label>
                  </DIV>
                  <div class="opc">
                    <input
                    type="radio"
                    id="B"
                    value="10:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="B">10:00 am</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="C"
                    value="11:00 am"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="C">11:00 am</label>
                  </div>
                </div>
                <div class="column50 pm">
                  <div class="opc">
                    <input
                    type="radio"
                    id="D"
                    value="2:00 pm"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="D">2:00 pm</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="E"
                    value="3:00 pm"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="E">3:00 pm</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="F"
                    value="4:00 pm"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="F">4:00 pm</label>
                  </div>
                  <div class="opc">
                    <input
                    type="radio"
                    id="G"
                    value="5:00 pm"
                    name="hora"
                    formControlName="hora"
                    >
                    <label for="G">5:00 pm</label>
                </div>
            </div>

          </div>
        </div>

        <div>
          <div class="col-5">
            <h3 class="sub">Fecha:</h3>
            <!-- <label for="date"> Fecha:</label> -->
            
            <div class="fecha">
              <input 
              type="date" 
              class="txtbox"
              id="date"
              formControlName="fecha"
              >
            </div>
          </div>

          <!-- <div class="col-5">
            <div class="colors">
            <h3 class="sub">Colores:</h3>
              <span class="dot" style="background-color:rgb(255, 157, 157);"></span>
              <span class="dot" style="background-color:rgb(111, 59, 3);"></span>
              <span class="dot" style="background-color:rgb(167, 167, 252);"></span>
              <span class="dot" style="background-color:rgb(255, 149, 0);"></span>
              <span class="dot" style="background-color:rgb(60, 0, 128);"></span>
            </div>
          </div> -->
        </div>

      </div>
    </div>
    
    <div class="enviar">
      <button type="submit"(click)="guardar()">Enviar</button>
    </div>
    
    
    <div class="mensajeEnviado">
      {{ mensaje }} 
    </div>
    <!-- [disabled]="!formulario.valid"  -->

  </form>  


</div>

            <!-- <div class="col-5">
              <select name="Menu" class="txtbox">
                <option value="Valor 1"class="txtbox" >Google meet</option>
                <option value="Valor 2"class="txtbox"  selected >Zoom</option>
                <option value="Valor 3"class="txtbox" >Ubicacion</option>
              </select>
          </div> -->

  

<div class="resultado">
  
  <div class="obtener">
    <button (click)="obtenerMuestra(); mostrarTabla = true" class="boton" type="button" >Obtener</button>

    <span *ngIf="mostrarTabla" class="arrow">
       <i class="fa-solid fa-arrow-down"></i>
    </span>
  </div>
  
  
  <div class="table" *ngIf="mostrarTabla">
    <tr>
      <th  *ngFor="let title of encabezado">{{ title }}</th>
    </tr>
    <tr *ngFor="let element of listacitas; let i = index" >
      <td>{{ element.nombre }}</td>
      <!-- <td>{{ element.apellido }}</td> -->
      <!-- <td>{{ element.correo }}</td> -->
      <td>{{ element.telefono }}</td>
      <!-- <td>{{ element.comentario }}</td> -->
      <td>{{ element.fecha }}</td>
      <td>{{ element.hora }}</td>
      <div class="botones">
        <td><button (click)="verCita(element.nombre)">Ver</button></td>
      <td><button (click)="eliminar(element)">Borrar</button></td>
      <!-- <td><button (click)="modificarCita(element.nombre)">Modificar</button></td> -->
      </div>

    </div>
</div>

