

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.t{
  width: 100%;
}

.titulo{
  margin: 0 auto;
}

.saludo{
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  width: 70%;
  margin: 0 15%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}


.container{
  width: 100%;
  margin: 0 30%;
}

:focus{
    outline: none;
}

body{
    background: #DBDBDB;
    font-family: 'Open sans';
}

/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    height: 650px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #262e36;
    opacity: 0.5;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../../../assets/img/banner.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title i{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items{
  text-align: center;
}

.info_items div{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }

.info_items i{
  margin-right: 6px;
  font-size: 20px;
}

/* Formulario de contacto*/
.col-5{
  width: 45%;
  margin-left: 20px;
  float: left;
}

form.agendar-cita{
    width: 62%;
    padding: 30px 40px;
}

.agendar-cita h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

.cita_info{
    display: flex;
    flex-direction: column;
}

.txtbox, .descripcion textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #D1D1D1;
    font-family: 'Open sans';
    color: #5A5A5A;
    font-size: 15px;
    font-weight: 400;
}


.opc{
  font-size: 12px;
  margin: 2px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  padding: 3px;
}


.opc input{
  width: 10px;
  margin-right: 8px;
}

.column50{
  float: left;
  margin-right: 30px;
}

.sub{
  margin-top: 15px;
  margin-bottom: 10px;
}

.fecha input{
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  padding: 7px;
  font-size: 15px;
}

.enviar{
  margin-top: 50px;
  text-align: center;
  text-align: right;
  margin-right: 60px;
}

 button{
  padding: 12px 30px;
	background: #241404;
	border: none;
	border-radius: 8px;
  color: #fff;
	font-size: 16px;
  font-family: 'Roboto Mono';

	cursor: pointer;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
}

.box{
  width: 40%;
  margin: 0 30%;
  margin-bottom: 30px;
}

/*TABLA*/

.resultado{
  width: 60%;
  margin: 0 30%;
}

.obtener{
  margin-top: 50px;
  margin-bottom: 30px;
}

.arrow{
  margin-left: 10px;
}

.table{
  margin-bottom: 20px;
}

th{
  border: 2px solid white;
  background-color: #9a9a9a;
  padding: 25px;
}

td{
  padding: 10px;
  border: 2px solid white;
  background-color: #dddddd;
}

.botones td{
  border: none;
  padding: 1px;
  background-color: transparent;
}

.botones td button{
  font-size: 13px;
  padding: 10px;
  margin: 5px;
}