

.nv{
  background-color: #000;
  width: 100%;
  height: 80px;
}

/*ENCABEZADO*/
.encabezado .name{
  padding-top: 150px;
  padding-bottom: 315px;
  background-size: cover;
  background-position-y: center;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.629) 0%, rgba(1, 1, 1, 0.555) 100%), url(../../../assets/img/banner.jpg);
  color: white;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

.name .last{
  font-size: 70px;
}

.name .first{
  font-size: 50px;
}

.name span{
  font-size: 30px;
}

/*Boton para agenda*/
.botones{
  text-align: center;
  margin-top: -10%;
}
.botones button{
  padding: 25px 35px 27px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  border: none;
  font-size: 17px;
  background-color: #3593f8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botones button:hover{
  color: white;
  background-color: transparent;
  border: 2px solid white;
}


/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  .encabezado .name{
    padding-top: 140px;
    padding-bottom: 300px;
  
  }
  
  .name .last{
    font-size: 65px;
  }
  
  .name .first{
    font-size: 45px;
  }
  
  .name span{
    font-size: 25px;
  }
  

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

  .encabezado .name{
    padding-top: 150px;
    padding-bottom: 300px;
  }
  
  .name .first{
    font-size: 30px;
  }
  
  .name span{
    font-size: 20px;
  }

  .botones{
  margin-top: -15%;

  }
  
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  .name .last{
    font-size: 60px;
  }
  
  .name .first{
    font-size: 40px;
  }
  
  .name span{
    font-size: 20px;
  }

  .botones{
  margin-top: -20%;
  }
}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){

  .encabezado .name{
    padding-top: 200px;
    padding-bottom: 345px;
  }
  .nv{
  background-color: transparent;
  width: 100%;
  height: 0px;
}

  .name .last{
    font-size: 35px;
  }
  
  .name .first{
    font-size: 25px;
  }
  
  .name span{
    font-size: 12px;
  }

  .botones{
  margin-top: -25%;
  }

  .botones button{
    padding: 20px 30px 22px;
    font-size: 14px;
  }
}
