/* You can add global styles to this file, and also import other style files */

*{
  margin: 0px;
}

body{
  background-color: #fff;
}

.titulo h2{
  margin-top: 130px;
  text-align: center;
  color: #202020;
  font-size: 40px;
  margin-bottom: 50px;
  border-right:3px solid #202020;
  border-left:3px solid #202020;
}

.titulo{
  width: 25%;
  margin: 0 40%;
}

.text-danger{
  color: #b62c2c;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  font-weight: bold;
}




/* Escritorio extra grande */
@media only screen and (min-width: 1200px) and (max-width: 1390px){

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){

}












/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
  .titulo h2{
    font-size: 32px;
    padding: 5px;
}

}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){
  .titulo h2{
    font-size: 25px;
    padding: 7px;
}
}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
  
.titulo{
  width: 40%;
  margin: 0 30%;
}

.titulo h2{
    text-align: center;
    color: #202020;
    font-size: 20px;
    margin-bottom: 40px;
    border-right:2px solid #202020;
    border-left:2px solid #202020;
}
}



/* Escritorio grande */
@media only screen and (max-width: 992px){
  .titulo h2{
    font-size: 25px;
    padding: 7px;
}
  }
  
  /* Escritorio pequeño / tablet */
  @media only screen and (max-width: 768px){
  
    .titulo h2{
      font-size: 25px;
      padding: 7px;
  }
  }
  
  /* Tablets y phablets */
  @media only screen and (max-width: 576px){
    .titulo h2{
      font-size: 20px;
      padding: 7px;
      margin-top: 90px;
      margin-bottom: 20px;
  }
  }
  
/* Teléfonos */
@media only screen and (max-width: 400px){

  
}